# ==================================================== DB CONFIGURATION ================================================
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

DB_HOST_PROD=
DB_PORT_PROD=
DB_PASSWORD_PROD=
DB_NAME_PROD=
DB_USER_PROD=

# ==================================================== SERVER CONFIGURATION ================================================
PORT=
NODE_ENV=

# ==================================================== JWT CONFIGURATION ================================================
JWT_SECRET=
JWT_EXPIRES_IN=

# ==================================================== CORS AND LOGGING ================================================
CORS_ORIGIN=
LOG_LEVEL=

# ==================================================== TWILIO CONFIGURATION ================================================
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# ==================================================== SMTP CONFIGURATION ================================================
SMTP_EMAIL=
SMTP_PASSWORD=

# ==================================================== REDIS CONFIGURATION ================================================
REDIS_HOST=
REDIS_PORT=

REDIS_HOST_PROD=
REDIS_PORT_PROD=
REDIS_PASSWORD_PROD=
REDIS_TLS_PROD=
